[flake8]
; select = B,B9,C,D,DAR,E,F,N,S,W
select = C,E,F,W,BLK,DAR,S
;F: Errors reported by pyflakes, a tool which parses source files and finds invalid Python code.
;E, W: warnings and errors reported by pycodestyle, which checks your Python code against some of the style conventions in PEP 8.
;C: are violations reported by mccabe, which checks the code complexity of your Python package against a configured limit.
;BLK: Enables the flake8-black warnings
;B: Bugbear finds various bugs and design problems in your programs
;S: A tool designed to find common security issues in Python code
ignore = E203,W503,E501,D100,B101,DAR401
; E203:
; W503:
; E501: Maximum line length, disable for sanity
max-line-length = 99
max-complexity = 10
per-file-ignores = tests/*:S101
docstring-convention = google
